body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a, a:visited {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

a:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

img.banner_image {
    max-height: 231px;
    max-width: 100%;
}

@media all and (max-width: 767px)
{
    div.all {
        float: left;
        width: 100%;
        min-height: 350px;
    }

    div.top {
        float: left;
        width: 100%;
    }

    div.banner {
        float: left;
        width: 100%;
    }

    div.mid {
        float: left;
        width: 100%;
    }

    div.content {
        float: left;
        width: 100%;
    }

    div.con-image {
        float: left;
        width: 30%;
        margin: 0 10px 10px 0;
    }

    img.con-image {
        width: 100%;
    }

    div.con-text { 
        float: left;  
        width: 60%;  
        text-align: justify;     
    }

    nav.menu {
        float: left;
        width: 100%;
    }

    .menu > ul {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        list-style: none;
    }

    .menu ul > li {
        min-height: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        background: transparent linear-gradient(to bottom, #ffffff 17%, #eeeeee 100%);
    }

    .menu ul ul {
        display: none;
    }

    .menu a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        float: left;
        padding: 11px 0 11px 11px;
        width: 97%;
    }
}
